name: CI

on:
  workflow_dispatch:
  merge_group:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    uses: metacraft-labs/nixos-modules/.github/workflows/reusable-lint.yml@main
    secrets:
      NIX_GITHUB_TOKEN: ${{ secrets.NIX_GITHUB_TOKEN }}
      CACHIX_AUTH_TOKEN: ${{ secrets.CACHIX_AUTH_TOKEN }}
  ci:
    uses: metacraft-labs/nixos-modules/.github/workflows/reusable-flake-checks-ci-matrix.yml@main
    secrets:
      CACHIX_AUTH_TOKEN: ${{ secrets.CACHIX_AUTH_TOKEN }}
      CACHIX_ACTIVATE_TOKEN: ${{ secrets.CACHIX_ACTIVATE_TOKEN }}
    with:
      runners: | # json
        {
          "x86_64-linux": [
            "self-hosted",
            "nixos",
            "x86-64-v3",
            "bare-metal"
          ],
          "aarch64-darwin": [
            "self-hosted",
            "macOS",
            "aarch64-darwin"
          ]
        }
