name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  Nix:
    timeout-minutes: 360
    strategy:
      fail-fast: false
      matrix:
         os: [ ubuntu-latest, macos-12 ]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v23
        with:
          nix_path: nixpkgs=channel:nixos-22.11
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
          extra_nix_config:
            accept-flake-config = true

      - uses: cachix/cachix-action@v14
        with:
          name: mcl-blockchain-packages
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Run the Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@v2

      - name: Build Nix dev shell
        run: ./scripts/ci.sh
